@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-black;
}

h1 {
  letter-spacing: -0.03em;
}

h2,
h3 {
  letter-spacing: -0.02em;
}

@keyframes gradientMove {
  0% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-10%);
  }
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary: #0f172a; /* navy */
}

.text-primary {
  color: var(--primary);
}

.bg-bg {
  background-color: #f8fafc;
}